<div class="folders-grid">
  <% folders.forEach(folder => { %>
  <div class="folder-item" onclick="openFolder(<%= folder.id %>)">
    <div class="folder-icon">
      <img src="/icon/folder.png" alt="Folder" class="icon-md">
    </div>
    <h3 class="folder-name"><%= folder.name %></h3>
    <div class="folder-meta">
      <span><%= folder._count.files %> files</span>
      <span><%= folder._count.children %> subfolders</span>
    </div>
    <div class="folder-actions">
      <button class="folder-action edit" onclick="event.stopPropagation(); openEditFolderModal(<%= folder.id %>, '<%= folder.name.replace(/'/g, "\\'") %>')" title="Edit folder">
        <img src="/icon/edit.png" alt="Edit" class="icon-sm">
      </button>
      <button class="folder-action delete" onclick="event.stopPropagation(); openDeleteFolderModal(<%= folder.id %>, '<%= folder.name.replace(/'/g, "\\'") %>')" title="Delete folder">
        <img src="/icon/delete.png" alt="Delete" class="icon-sm">
      </button>
    </div>
  </div>
  <% }); %>
</div>
