<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>

    <link rel="icon" type="image/png" href="/icon/cloud.png"> 

    <link rel="stylesheet" href="/css/layout.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    
    <link rel="stylesheet" href="/css/errorPage.css" />

    <% if (!user) { %>
    <link rel="stylesheet" href="/css/auth.css" /> 
    <% } else { %>
    <link rel="stylesheet" href="/css/dashboard.css" />
      
    <% if (typeof currentFolder !== 'undefined' || title === 'Your Drive') { %>
    <link rel="stylesheet" href="/css/folder.css" />
    <% } %>
    
    <% } %>
  </head>

  <body class="<%= user ? 'dashboard-body' : 'auth-body' %>">
    <% if (user) { %> <%- include("partials/navbar") %> <% } %> <% if (!user) {
    %> <%- body %> <% } else { %>
    <main class="dashboard-main">
      <div class="dashboard-container"><%- body %></div>
    </main>
    <% } %> <% if (user) { %> <%- include("partials/footer") %> <% } %> <% if
    (user && (typeof currentFolder !== 'undefined' || title === 'Your Drive')) {
    %>
    <script src="/js/global.js"></script>
    <% } %>
  </body>
</html>
<script src="/js/messages.js"></script>